sample_project/SignWell/Build
sample_project/SignWell/Pods
sample_project/SignWell/Podfile.lock
sample_project/SignWell/SignWell.xcworkspace
sample_project/SignWell/SignWell.xcodeproj/xcuserdata
sample_project/SignWell/SignWell.xcodeproj/project.xcworkspace/xcuserdata
